<!DOCTYPE html>
<style>
    h2 {
        color: red;
    }
</style>
<html>
<head>
    <title>ToDo App</title>
</head>
<body>
    {% for message in messages %}
    <h2>{{message}}</h2>
    {% endfor %}
    <h1>Welcome to the ToDo App</h1>
    <p>Existing User?</p>
    <form method="post" action="{% url 'index' %}">
        {% csrf_token %}
        <label for="username">Username:</label>
        <input type="text" name="username" id="username" required><br><br>
        <label for="password">Password:</label>
        <input type="password" name="password" id="password" required><br><br>
        <button type="submit">Login</button>
    </form>
    <p>Not an existing user? <a href="register">Sign up</a> to use this awesome ToDo app</p>
</body>
</html>